<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title> <%= user.username %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <h1>Welcome <%= user.username %></h1>

    <h2>Study logs</h2>

    <div class="body">
      <div class="container">
        <form action="/add-submit" method="POST">

          <div class="subject-container">
            <label for="subject">Subject:</label>
            <br>
            <input type="text" id="subject" placeholder="Math" name="subject" />
          </div>
          
          <div class="time-container">
            <label for="time">Time (minutes):</label>
            <br>
            <input type="number" id="time" min="0" placeholder="15" name="time" />
          </div>

          <div class="description-container">
            <label for="description">Description:</label>
            <br>
            <textarea id="description" name="description" placeholder="Exercises" style="height:100px"></textarea>
          </div>

          
          <input type = "hidden" name = "username" value = "<%= user.username %>" />
          <input type = "hidden" name = "id" value = "<%= user._id %>" />

          <button class="submit-button" type="submit">Submit</button>    
        </form>
      </div>

      <div class="calendar">
        <ul class="submits">
          <li class="submit">
            <%if(user.hasOwnProperty('submits')){ %>
              <%for(date in user.submits) { %>
                <p><%= date %></p>
                <% for(let subject in user.submits[date]) { %>
                  <p><%= subject %> | <%= user.submits[date][subject].time %> | <%= user.submits[date][subject].description %></p>  
            <% }}} %>

          </li>
        </ul>
      </div>
    </div>
    <div class="footer">
      <a href="/">Back</a>
    </div>
  </body>
</html>